@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&family=Patrick+Hand&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --secondary-font: "Patrick Hand", cursive;
  --terciary-font: "Atkinson Hyperlegible", sans-serif;
  --color-1: black;
  --color-2: white;
  --color-3: #233a63;
  --color-4: #005580;
  --color-5: #a26702;
}

.csr-container {
  margin: 1.3rem 1.3rem 1.6rem;
  p {
    margin-bottom: 1rem;
  }
  h4 {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  ul {
    padding: 0;
    margin: 0 1.3rem;
  }

  .csr-optimisations {
    box-sizing: border-box;
    padding: 1rem;
    border: solid 0.2rem var(--color-4);
    margin: 4rem 0;
    .csr-optimisations-title {
      text-align: center;
      font-weight: 700;
      font-size: 1rem;
    }
  }
}

.link-ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media screen and (min-width: 800px) {
  .csr-section {
    margin: 12rem 10rem;

    .title-flex {
      margin: 2rem;
    }
    .csr-optimisations {
      margin: 4rem 10rem;
    }
  }
}
