// Responsive ordinateur & tablette

@media screen and (min-width: 801px) and (max-width: 1600px) {
  .home-firstsection {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    margin: 12rem 3rem 3rem;
    height: auto;
    height: 85vh;
    .home-firstsection-right {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      box-sizing: border-box;
      width: 60vw;
    }
  }
  .home-secondsection {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    margin: 3rem 3rem;
  }
  .home-fifthsection {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    justify-content: center;
    margin: 3rem 3rem;
    gap: 5rem;
    width: calc(100vw - 5rem);
  }
  .scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #005580;
    color: white;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, transform 0.3s;
  }

  .scroll-to-top:hover {
    background-color: #233a63;
    transform: translateY(-5px);
  }
}

@media screen and (min-width: 1601px) {
  .home-firstsection {
    margin: 12rem 12rem 7rem;
    height: auto;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    height: 75vh;
    .home-firstsection-right {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-left: 2rem;
    }
  }
  .home-secondsection {
    margin: 3rem 12rem;
    gap: 10rem;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
  }
  .home-fifthsection {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    margin: 3rem 12rem;
    gap: 10rem;
  }

  .scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #005580;
    color: white;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, transform 0.3s;
  }

  .scroll-to-top:hover {
    background-color: #233a63;
    transform: translateY(-5px);
  }
}
