// Responsive ordinateur & tablette

@media screen and (min-width: 801px) and (max-width: 1600px) {
  .home-firstsection {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    margin: 3rem 3rem;
    height: auto;
    .home-firstsection-right {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      box-sizing: border-box;
      width: 60vw;
      padding-left: 2rem;
    }
  }
  .home-secondsection {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    margin: 3rem 3rem;
  }
  .home-fifthsection {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    justify-content: center;
    margin: 3rem 3rem;
    gap: 5rem;
    width: calc(100vw - 5rem);
  }
}

@media screen and (min-width: 1601px) {
  .home-firstsection {
    margin: 3rem 8rem;
    height: auto;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    height: 75vh;
  }
  .home-secondsection {
    margin: 3rem 8rem;
    gap: 10rem;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
  }
  .home-fifthsection {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    margin: 3rem 8rem;
    gap: 10rem;
  }
}
