@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&family=Patrick+Hand&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --secondary-font: "Patrick Hand", cursive;
  --terciary-font: "Atkinson Hyperlegible", sans-serif;
  --color-1: black;
  --color-2: white;
  --color-3: #233a63;
  --color-4: #005580;
  --color-5: #a26702;
}

.about-line {
  border-bottom: dashed 2px lightgrey;
  .about-container {
    margin: 1.3rem 1.3rem 1.6rem;
    box-sizing: border-box;
    .about-image {
      width: 100%;
      height: 250px;
      object-fit: cover;
      object-position: center;
    }
    p {
      margin-bottom: 30px;
    }
    .button-section {
      box-sizing: border-box;
      width: 100%;
      display: flex;
      justify-content: center;
      padding: 1rem;
      margin-bottom: 40px;
      .button-about {
        width: auto;
        height: auto;
        padding: 0.5rem;
        background-color: transparent;
        border: solid 0.2rem var(--color-4);
        font-family: var(--secondary-font);
        cursor: pointer;
        color: black;
        &:hover {
          border: solid 0.2rem var(--color-5);
        }
      }
    }
  }
}

// Responsive ordinateur & tablette

@media screen and (min-width: 800px) and (max-width: 1200px) {
  .about-line {
    border-bottom: none;

    .about-container {
      display: flex;
      flex-direction: column;
      margin-right: 0;
      margin-top: 0;
      height: auto;
      width: 100%;
      .about-title {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        margin-bottom: 2rem;
        h2 {
          margin: 0;
        }
        .about-title-line {
          width: 10vw;
          height: 2px;
          background: var(--color-4);
        }
      }

      h3 {
        margin-top: 0;
        margin-bottom: 1rem;
      }
      .about-image {
        display: none;
      }
      p {
        margin-bottom: 15px;
      }
      .button-section {
        margin-bottom: 20px;
        .button-about {
          width: auto;
          height: auto;
          padding: 0.5rem;
          background-color: transparent;
          border: solid 0.2rem var(--color-4);
          background-color: var(--color-2);
          font-family: var(--secondary-font);
          color: var(--color-4);
          cursor: pointer;
          &:hover {
            border: solid 0.2rem var(--color-2);
            background-color: var(--color-4);
            color: var(--color-2);
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1201px) {
  .about-line {
    border-bottom: none;
    .about-container {
      display: flex;
      flex-direction: column;
      margin-right: 0;
      margin-top: 0;
      height: auto;
      width: 100%;
      padding: 0 5rem;
      box-sizing: border-box;
      .about-title {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        margin-bottom: 2rem;
        h2 {
          margin: 0;
        }
        .about-title-line {
          width: 10vw;
          height: 2px;
          background: var(--color-4);
        }
      }
      h3 {
        margin-top: 0;
        margin-bottom: 1rem;
      }
      .about-image {
        display: none;
      }
      p {
        margin-bottom: 15px;
      }
      .button-section {
        margin-bottom: 20px;
        .button-about {
          width: auto;
          height: auto;
          padding: 0.5rem;
          background-color: transparent;
          border: solid 0.2rem var(--color-4);
          background-color: var(--color-2);
          font-family: var(--secondary-font);
          color: var(--color-4);
          cursor: pointer;
          &:hover {
            border: solid 0.2rem var(--color-2);
            background-color: var(--color-4);
            color: var(--color-2);
          }
        }
      }
    }
  }
}
