@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&family=Patrick+Hand&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --secondary-font: "Patrick Hand", cursive;
  --terciary-font: "Atkinson Hyperlegible", sans-serif;
  --color-1: black;
  --color-2: white;
  --color-3: #233a63;
  --color-4: #005580;
  --color-5: #a26702;
}

.headerdesktop-container {
  width: 100%;
  height: 16vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 0.1rem solid lightgrey;

  .headerdesktop-grey {
    background-color: lightgrey;
    height: 8vh;
    width: 100%;
  }
  img {
    height: 16vh;
    position: absolute;
    border: solid 0.1rem black;
  }
  .headerdesktop-white {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15rem;
    height: 8vh;
    width: 100%;
    ul {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      gap: 2rem;
      width: 100%;
      margin: 0 2rem;
      padding: 0;
      li {
        list-style: none;
        font-family: var(--secondary-font);
        font-weight: 700;
        font-size: 1.2rem;
      }
    }
  }
}

a {
  text-decoration: none;
  color: black;
}
