@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&family=Patrick+Hand&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --secondary-font: "Patrick Hand", cursive;
  --terciary-font: "Atkinson Hyperlegible", sans-serif;
  --color-1: black;
  --color-2: white;
  --color-3: #233a63;
  --color-4: #005580;
  --color-5: #a26702;
}

.projectlist-section {
  svg {
    display: none;
  }
  .project-container {
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(2, 49vw);
    gap: 1vw;
    margin-bottom: 5rem;
    cursor: pointer;
  }
}

.project-item {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  color: var(--color-2);
  position: relative;
  .project-link {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 3;
  }
  h3 {
    position: absolute;
    text-shadow: 2px 2px 2px black;
  }
  img {
    height: 49vw;
    width: 49vw;
    object-fit: cover;
  }
}

@media screen and (min-width: 800px) and (max-width: 1600px) {
  .projectlist-section {
    box-sizing: border-box;
    margin: 10rem 10rem 3rem;
    text-align: center;
    .svg-section {
      display: flex;
      justify-content: center;
      width: 100%;
      svg {
        display: block;
      }
    }
    .title-flex {
      margin: 2rem;
    }
    .project-container {
      width: 100%;
      grid-template-columns: repeat(3, 32%);
    }
  }

  .project-item {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    color: var(--color-2);
    position: relative;

    .project-link {
      position: absolute;
      height: 100%;
      width: 100%;
      z-index: 3;
    }

    h3 {
      font-size: 2.5rem;
    }
    img {
      height: 26vw;
      width: 100%;
    }
    &:hover {
      transform: scale(1.05); /* Adjust the scale factor as needed */
    }
  }
}

@media screen and (min-width: 1600px) {
  .projectlist-section {
    box-sizing: border-box;
    margin: 12rem 12rem;
    .svg-section {
      display: flex;
      justify-content: center;
      width: 100%;
      svg {
        display: block;
      }
    }
    .title-flex {
      margin: 2rem;
    }
    .project-container {
      width: 100%;
      grid-template-columns: repeat(4, 24%);
    }
  }

  .project-item {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    color: var(--color-2);
    position: relative;
    .project-link {
      position: absolute;
      height: 100%;
      width: 100%;
      z-index: 3;
    }

    h3 {
      font-size: 2.5rem;
    }
    img {
      height: 18vw;
      width: 100%;
    }
    &:hover {
      transform: scale(1.05); /* Adjust the scale factor as needed */
    }
  }
}
