@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&family=Patrick+Hand&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --secondary-font: "Patrick Hand", cursive;
  --terciary-font: "Atkinson Hyperlegible", sans-serif;
  --color-1: black;
  --color-2: white;
  --color-3: #233a63;
  --color-4: #005580;
  --color-5: #a26702;
}

.skills-container {
  margin: 50px 1.3rem;
  box-sizing: border-box;
  .skills-complete {
    .skills-flexbox {
      display: flex;
      flex-direction: column;
      .skills-category {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-bottom: 0.1rem solid lightgray;
        box-sizing: border-box;
        gap: 1rem;
        padding: 1rem 0;
        cursor: pointer;
        .skills-visible {
          width: 100%;
          display: flex;
          justify-content: space-between;
          .skills-left {
            display: flex;
            gap: 1rem;
          }
        }
      }

      svg {
        width: 2rem;
      }
      h3 {
        margin: 0;
      }
      .skills-details {
        width: 100%;
        font-family: var(--terciary-font);
        ul {
          display: flex;
          flex-direction: row;
          gap: 1rem;
        }
        li {
          list-style: none;
          background-color: var(--color-4);
          padding: 0.5rem;
          border-radius: 0.2rem;
          color: var(--color-2);
          font-size: 0.9rem;
        }
      }
    }
  }
}

// Responsive ordinateur & tablette

@media screen and (min-width: 800px) and (max-width: 1600px) {
  .skills-container {
    margin: 50px 1.3rem;
    width: 50vw;
    h2 {
      margin-bottom: 16px;
    }
  }
}
