/*GENERIQUES*/
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");

:root {
  --primary-font: "Oswald", sans-serif;
  --secondary-font: "Source Sans 3", sans-serif;
  --color-1: white;
  --color-2: #003b4a;
}

* {
  margin: 0;
}

body {
  box-sizing: border-box;
  font-family: var(--secondary-font);
}

h2 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 36px;
}

h3 {
  font-size: 1.6rem;
  line-height: 1.2;
  font-family: "Freehand Blockletter";
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 12px;
}

p {
  font-family: "Uniform", monospace, sans-serif;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 0.025rem;
  font-stretch: condensed;
  font-size: 15px;
}
